---
# Enable verbose mode (print DEBUG log messages) [true, false]
verbose: true

# Supported mode: local
# Remote mode is in development
mode: local

# Use user interface
#ui: true

# input file shall be an xlsx excel document located in the data/ folder.
input_filename: customer_list.xlsx

# Enter your mailserver login info
# ovh
mail:
    smtp_server: ns0.ovh.net
    smtp_port: 5025
    user_email: 
    user_pw: 
    sender_name: 

# gmail
#mail:
#    smtp_server: smtp.gmail.com
#    smtp_port: 587
#    user_email:
#    user_pw:
#    sender_name:

# If no criteria shall be used leave <criteria> empty.
#criteria:
# Otherwise you can define countries to select customers from.
#criteria:
#  country:
#    - Germany
#    - Australia
criteria:
  country:
    - Germany
    - Australia
    - Spain

# Customer shall be contacted every <contact_intervall> days.
# Customer shall be contacted every 30 days:
contact_intervall: 30 
